
<mat-toolbar color="primary">
    <span [matBadge]="val" matBadgeOverlap="false" matBadgeColor="accent"> <a routerLink="/" routerLinkActive="mat-accent" >My Posts</a></span>
    <span class="spacer"></span>
    <ul>
        <li *ngIf="userIsAuthenticated">
            <a mat-button routerLink="create" routerLinkActive="mat-accent">Add new posts</a>
        </li>
        <li *ngIf="!userIsAuthenticated">
            <a mat-button routerLink="/auth/login" routerLinkActive="mat-accent">Login</a>
        </li>
        <li *ngIf="!userIsAuthenticated">
            <a mat-button routerLink="/auth/singup" routerLinkActive="mat-accent">Singup</a>
        </li>
        <li *ngIf="userIsAuthenticated">
            <button mat-button  (click)="onLogout()">Logout</button>
        </li>
    </ul>
</mat-toolbar>

